* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

body {
	background-color: #333;
	background: url(img/subtle_zebra_3d.png) repeat;
	padding: 50px 250px;
}

#main {
	background-color: rgba(255,255,255,0.4);
	margin: 30px auto;
	width: 632px;
}

.card {
	display: block;
	float: left;
	margin-left: 1px;
	margin-bottom: 1px;
	height: 210px;
	width: 210px;
	background: rgba(221,221,221,.4);
	padding: 0 15px;
	-webkit-transition: background-color 0.3s;
}

.card:hover { background-color: #ccc; }
a.card { color: #222; text-decoration: none; }

.card:nth-child(3n+1) { margin-left: 0; }
.card:nth-last-child(-n+3) { margin-bottom: 0; }

.card.logo { padding: 0; }

.card.github:hover      { background-color: #2f86c2; }
.card.tutsplus:hover    { background-color: #e56718; }
.card.twitter:hover     { background-color: #33ccff; }
.card.gplus:hover       { background-color: #ae2d1e; }
.card.themeforest:hover { background-color: #8c5e2d; }