* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

html, body { height: 100%; width: 100%; }
body { background: url(img/subtle_zebra_3d.png) repeat #eee; }
/*body.konami { background: url(http://danharper.me/assets/images/bg-large.png) repeat; }*/

#main {
	height: 420px;
	left: 50%;
	margin-left: -316px;
	margin-top: -210px;
	position: absolute;
	top: 50%;
	width: 632px;
	-webkit-perspective: 1000;
}

.card, .face {
	height: 100%;
	width: 100%;
}

.card {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
}

.card.flip { -webkit-transform: rotateY(-180deg); }

.face {
	-webkit-backface-visibility: hidden;
	background-color: rgba(255,255,255,0.4);
	box-shadow: 0 0 100px 10px rgba(0,0,0,.2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.back.face {
	-webkit-transform: rotateY(180deg);
	background: url(img/paper.png) repeat;
	padding: 0 20px;
}

.back.face header {
	background: url(img/mail.png) repeat-x;
	margin: 0 -20px;
	padding: 15px 10px 5px;
}

.back.face .stamp {
	float: right;
	-webkit-transform: rotate(-4deg);
	position: absolute;
	right: 10px;
	z-index: 1;
}

.back.face header h1 {
	display: inline-block;
	float: left;
	margin: 0;
}




.block {
	-webkit-transition: box-shadow .3s;
	background: rgba(221,221,221,.4);
	display: block;
	float: left;
	height: 210px;
	margin-bottom: 1px;
	margin-left: 1px;
	overflow: hidden;
	padding: 0 15px;
	width: 210px;
}

.block:hover { box-shadow: inset 0 0 55px 5px #dddddd; }
a.block { color: #222; text-decoration: none; }

.block:nth-child(3n+1) { margin-left: 0; }
.block:nth-last-child(-n+3) { margin-bottom: 0; }

.block.logo { overflow: visible; padding: 0; }

.block div {
	-webkit-transition: all .3s ease-in-out;
	background-color: #c91111;
	bottom: 210px;
	content: '';
	display: block;
	height: 210px;
	left: 0;
	opacity: 0;
	position: absolute;
	width: 210px;
}

/*last 3*/
.block:nth-last-child(-n+3) div { bottom: -210px; left: 0; }

/*left column*/
.block:nth-child(3n+1) div { bottom: 0; left: -210px; }

/*right column*/
.block:nth-child(3n) div { bottom: 0; left: 210px; }

/*top right*/
.block:nth-child(3) div { bottom: 210px; left: 210px; }

/*bottom right*/
.block:last-child div { bottom: -210px; left: 210px; }

/*bottom left*/
.block:nth-last-child(3) div { bottom: -210px; left: -210px; }

.block:hover div { bottom: 0; left: 0; opacity: .9; }

.block.github div      { background: url(img/github.png) center no-repeat #2f86c2; }
.block.tutsplus div    { background: url(img/tutsplus.png) center no-repeat #e56718; }
.block.twitter div     { background: url(img/twitter.png) center no-repeat #33ccff; }
.block.gplus div       { background: url(img/googleplus.png) center no-repeat #121212; }
.block.themeforest div { background: url(img/themeforest.png) center no-repeat #8c5e2d; }

.konami .block div {
	bottom: 0;
	left: 0;
	opacity: 1;
}

.ipa {
	font-family: serif;
	font-size: 0.8em;
	padding-left: 3px;
}

h1, h2 {
	font-family: "Shadows Into Light Two";
}

p {
	font-family: "Open Sans";
	font-size: 13px;
}

form {
	/*background: yellow;*/
	width: 85%;
}

input, textarea {
	background: none;
	border: none;
	padding: 7px;
	font-family: "Shadows Into Light Two";
	font-size: 1.4em;
	width: 100%;
}

input { border-bottom: 1px dashed #e5bdbb; }

textarea {
	height: 180px;
	max-height: 180px;
	resize: none;
}

input.send {
	border: 1px dashed #e5bdbb;
	background: #eee;
	height: 80px;
	width: 15%;
	position: absolute;
	right: -90px;
	bottom: 0;
}

input:focus, textarea:focus {
	outline: none;
}

.logo {
	cursor: pointer;
}

.postmark {
	position: absolute;
	top: 60px;
	right: 5px;
	z-index: 2;
	display: none;
}
.postmark.sent { display: block; }